/*selector {
    property: value;
    property1: value;
}*/
body{
    margin: 0;
}
footer {
    background-color: coral;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    }
#top button{
    display:none;
    z-index: 1;
}
.mobile {
    display:none;
}

li{
    margin: 0.5em;
}
li a{
    color: black;
    text-decoration: none;
}

#top {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#top h1{
    width:40vw;
}
.up{margin-bottom:1em;}
.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/insider-sportshop.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

#loc{
    margin:0 8px 0;
}
iframe{
    width:95vw;
    height: 50vh;
}

.team{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin:10px 8px 0;
}
.team img{
    width: 100%;
    height:100%;
}
.goods{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    padding-bottom: 5vmax;
    margin:10px 8px 0;
}
.goods img{
    width: 100%;
    height:70%;
}
.goods h2 {
    text-align: center;
    margin: 0px;
    height: 10%;
}
.goods p {
    text-align: left;
    margin-bottom:0px;
    padding-top:3px;
    height: 20%;
}
.goods div{
    
    border: 2px solid green;
    padding-bottom: 1em;
}
.goods div:hover{
    border-color:yellow;
}
.galery1{
    margin : 0px 8px 0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin-bottom:5px;
}
.galery1 img{
    width: 100%;
    height:100%;

}
.galery2{
    margin : 0px 8px 0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding-top: 5px;
    margin-bottom: 1vmax;
}
.galery2 img{
    width: 100%;
    height:100%;

}
@media all and (max-width: 600px){
#top button{
    background-color: antiquewhite;
    display: inline;
}
#top button:hover + .mobile {
     display: block;
    position: absolute;
    right:0;
    top:0.5em;
    text-decoration: none;
    background-color: grey;
    z-index: 1;
    }

.desktop {
     display: none;
}
.team{
    grid-template-columns: 1fr 1fr ;
    gap:5px;
    margin:5px 8px 0;
}
.goods{
    grid-template-columns: 1fr 1fr;
    gap:5px;
    padding-bottom: 5vmax;
    margin:5px 0 0;
}
.goods img{
    width: 100%;
    height:50%;
}
.goods div{
    border: none;
    padding-bottom: 1em;
}
.galery1{
    margin: 0;
    grid-template-columns: 1fr ;
    gap:5px;
    margin-bottom:2px;
}
.galery2{
    margin : 0;
    grid-template-columns: 1fr ;
    gap:5px;
    padding-top: 3px;
    margin-bottom: 1vmax;
}
}